<app-nav-bar></app-nav-bar>

<h1 style="display: flex; justify-content: center; text-transform: capitalize;">Welcome {{userData.Username}}!</h1>
<div style="text-align: center; background-color: darkslategray;">
<h2 style="text-decoration: underline;">Account Details On File...</h2>
<h3>User Name: {{userData.Username}}</h3>
<h3>Email: {{userData.Email}}</h3>
<h3>Birthday: {{userData.Birthday}}</h3>


<h2>Edit Profile</h2>
<mat-card>
    <mat-card-content>
        <form>
            <mat-form-field class="form-inputs">
                <label>Birthday:</label>
                <input
                    matInput
                    [(ngModel)]="userData.Birthday"
                    placeholder="Birthday"
                    type="date"
                    name="BirthDay"
                    required
                >
            </mat-form-field>
            <mat-form-field class="form-inputs">
                <label>Email:</label>
                <input
                    matInput
                    [(ngModel)]="userData.Email"
                    placeholder="update email"
                    type="email"
                    name="Email"
                    required
                >
            </mat-form-field>
           
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-raised-button
            (click)="updateUser()"
            class="button-profile"
            color="primary"
            style="margin: 0 auto;"
        >
            Update
        </button>
    </mat-card-actions>
  </mat-card>

  <div style="padding-bottom: 10px;">
    <h1 style="text-decoration: underline;">Your Favorited Movies...</h1>
       <div *ngFor="let favs of favTitles" >

            <li>{{favs}}</li>

       </div>
  </div>
  </div>  
  <div style="display: flex;justify-content: center; flex-direction: column; margin-top: 10px;">
  <label style="margin: auto;" >Delete Account?</label>
  <input type="text" [(ngModel)] = "confirm" name = "confirm" placeholder="type 'unsubscribe' here"   style="margin: auto;"/>
  <button (click)="deleteAccount()" style="width: fit-content; margin: auto;">confirm</button>
  </div>